/* =======================================================
    DEFAULT VALUES:

Font Family     : Roboto Condensed
Greenish Blue   : #34c6d3   (Buttons, Icons, Links, Lines & Backgrounds)
Steel Gray      : #41464b   (Headings)
Blue Bayoux     : #64707b   (Paragraphs)
White           : #fff      (Text With Black Backgrounds)
Black           : #000
==========================================================*/

body {
    font-family: "Roboto Condensed", sans-serif;
    color: #000;
}

h3 {
    text-transform: uppercase;
    color: #41464b;
}

p {
    color: 64707b;
    font-size: 16px;
    font-weight: 300;
}


/*========================================================
                            HOME
========================================================*/

html,
body {
    height: 100%;
    /* those are the parent containers that need to stretch to full page */
}

#home {
    height: 100%;
}

#home-cover {
    height: 100%;
    background-image: url("../images/bg-home.jpg");
}

#home-content-box {
    width: 100%;
    height: 100%;
    display: table;
}

#home-content-box-inner {
    display: table-cell;
    vertical-align: middle;
    /*text-align: center;*/
}

#home-heading h3 {
    color: white;
    font-size: 50px;
    font-weight: 700;
    margin: 20px 0 20px 0;
    text-transform: uppercase;
}


/* =====================================
            PARALAX ( Generic )
====================================== */

.bg-paralax {
    background-repeat: no-repeat;
    /* image should not repeat in the web page */
    background-size: cover;
    /* image should stretch to cover the web page always */
    background-position: center;
    /* image should be always put in center */
    background-attachment: fixed;
}


/* for cat purposes ) */

.bg-parallax {
    background-repeat: no-repeat;
    /* image should not repeat in the web page */
    background-size: 1100px 700px;
    /* image should stretch to cover the web page always */
    background-position: 500px;
    /* image should be always put in center */
    background-attachment: fixed;
}


/* =====================================
            BUTTONS ( Generic )
====================================== */

.btn-general {
    border-width: 2px;
    border-radius: 0;
    padding: 12px 26px 12px 26px;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
}

.btn-white {
    border-color: white;
    color: white;
}

.btn-white:hover,
.btn-white:focus {
    background-color: white;
    color: #41464b;
}

.btn-blue {
    border-color: #34c6d3;
    color: #34c6d3;
}

.btn-blue:hover,
.btn-blue:focus {
    background-color: #34c6d3;
    color: #fff;
}


/*========================================================
                            ANIMATE
========================================================*/

#home-cover,
#home-heading,
#home-btn {
    animation-duration: .5s;
}

#home-cover {
    animation-delay: .1s;
}

#home-heading {
    animation-delay: .5s;
}

#home-btm {
    animation-delay: 1s;
}


/*========================================================
                            CONTENT BOX( GENERIC )
========================================================*/

.content-box {
    padding: 60px 0 60px 0;
}

.content-title h3 {
    margin: 0 0 30px 0;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
}

.content-title-underline {
    width: 30px;
    height: 3px;
    background-color: #34c6d3;
    margin: 0 auto 30px auto;
}


/*========================================================
                        SERVICES
========================================================*/

.service-item {
    padding: 20px 0 20px 0;
    margin-bottom: 20px;
    cursor: pointer;
}

.service-item-icon i {
    color: #34c6d3;
    float: left;
    padding: 15px 15px 15px 15px;
    margin-right: 25px;
    width: 75px;
    height: 75px;
    text-align: center;
}

.service-item:hover .service-item-icon i {
    color: #fff;
    background-color: #34c6d3;
}

.service-item-title h3 {
    font-size: 20px;
    font-weight: 400;
    margin: 0 0 10px 0;
}

.service-item-desc p {
    margin: 0;
    padding-left: 85px;
}


/*=================================================
                    ABOUT
=================================================*/

#about-bg-diagonal {
    width: 60%;
    height: 700px;
    float: right;
    background-image: url(../images/cat.jpg);
    border-top: 700px solid transparent;
    border-left: 200px solid white;
}

#about-content-box {
    float: left;
    height: 700px;
}

#about-content-box-outer {
    width: 100%;
    height: 100%;
    display: table;
}

#about-content-box-inner {
    display: table-cell;
    vertical-align: middle;
}

#about .content-title h3 {
    text-align: left;
}

#about .content-title .content-title-underline {
    margin: 0 0 30px 0;
}

#about-desc p {
    margin-bottom: 30px;
}


/*=================================================
                    OUR WORK
                    [class*=col-]
                    class * => select all classes that contain "col-"
=================================================*/


/* selects all rows that have no-gutters class*/

.row.no-gutters [class*=col-] {
    padding-left: 0;
    padding-right: 0;
}

.img-wrapper {
    overflow: hidden;
}

.img-wrapper img {
    transition: transform .5s ease;
}

.img-wrapper img:hover {
    transform: scale(1.5);
    cursor: zoom-in;
}